* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav {
  display: flex;
  /* position: sticky;
    top: 0; */
  justify-content: space-between;
  padding: 0.9rem 2rem;
  background: white;
  box-shadow: 1px 2px 2px rgb(150, 150, 150);
  color: #2e475d;
}
/* navlog0 css */
.navlogo {
  text-decoration: none;
  color: #2e475d;
  font-style: oblique;
  text-transform: capitalize;
  letter-spacing: 5px;
  font-size: 1.6rem;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  list-style: none;
}
nav a {
  color: #2e475d;
  text-decoration: none;
  padding: 0rem 1rem;
  font-size: 1.6rem;
 
}
/* //burger  */
.navburgur {
  display: none;
  cursor: pointer;
}
.navburgur div {
  width: 25px;
  height: 3px;
  background-color: #2e475d;
  margin: 5px;
  transition: all 0.3s ease;
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* //media quary */

@media screen and (max-width: 1023px) {
  nav {
    display: none;
    top: -333px;
  }
  .navrow {
    margin-top: -16rem;
    padding-bottom: 2rem;
  }
  .navburgur {
    display: block;
    margin-top: 6px;
  }
  .toggle .navrow {
    margin-top: 0rem;
    transition: all 0.6s ease;
  }
  .toggle nav {
    display: block;
  }
  .toggle .navlogo {
    display: block;
  }
  .toggle .nav {
    display: flex;
    justify-content: space-between;
  }
  .toggle nav li {
    display: flex;
    padding-top: 3rem;
    align-items: self-start;
    flex-direction: column;
    align-items: center;
  }
  .toggle nav a {
    border-bottom: solid 1px #bdbdbd;
    /* margin: 0.5rem; */
    padding: 0.4rem 0rem;
  }
}

/* .profile{
     
} */
.pro {
  box-shadow: 1px 1px 4px 2px #d1d1d1;
  position: relative;
  float: right;
  margin-right: -27rem;
  transition: all ease 0.6s;
  padding: 1rem;
  text-align: center;
  position: fixed;
  right: 0;
  z-index: 1030;
  background-color: rgba(0, 0, 0, 0.669);
color: white;
}
.pro h1 {
  background: linear-gradient(
    20deg,
    rgba(249, 249, 249, 0.162) 0%,
    #f3e7e79a 50%,
    #ffffff30 50%,
    #fbfbff46 100%
  );
  width: 4rem;
  border-radius: 20%;
  margin: 1rem auto;
}
.protoggle {
  margin-right: 1rem;
  transition: all ease 0.6s;
}
.pro a {
  background: linear-gradient(
    to bottom left,
    rgba(231, 231, 231, 0.425) 0%,
    #cdcbcb83 50%,
    #eaeaea52 50%,
    #dcdcdc2f 100%
  );
  padding: 0.4rem 4rem;
  margin-top: 1rem;
  border-radius: 1rem;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.pro a:hover {
  background: linear-gradient(
    to bottom right,
    rgba(231, 231, 231, 0.425) 0%,
    #cdcbcb83 50%,
    #eaeaea52 50%,
    #dcdcdc2f 100%
  );
}
